<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Criar novo anuncio | Trocabook</title>
</head>
<body>
<div class="container">
    <header>
        <div class="wrapper">
            <table class="cabecalho"><tr>
                <th id="cabecalhoelementos">
                    <a href="/"><img src="/img/Design sem nome (7).svg"></a>
                    <div class="autocomplete-wrapper">
                        <input type="text" style="width: 100%; height: 35px;" id="pesquisa" placeholder="Pesquisar">
                        <div id="resultadosPesquisa" class="sugestoes-autocomplete"></div>
                    </div>

                    <select id="inputCategoria" class="form-control" style="width: 200px; height:37px; margin-left: 15px;">
                        <option selected>Categoria...</option>
                        <option>Ação</option>
                        <option>Romance</option>
                        <option>Literatura</option>
                        <option>Lógica de Programação</option>
                        <option>Direito</option>
                        <option>Suspense</option>
                        <option>Ficção Científica</option>
                    </select>

                    <th:block sec:authorize="isAuthenticated()">
                        <a class="anunciar-livro4" href="/AnunciarLivro">Anunciar Livro</a>
                        <a class="meus-livros4" href="/MeusLivros">Meus Livros</a>
                        <form th:action="@{/logout}" method="post" style="display: inline;">
                            <button type="submit" id="deslogar">Sair</button>
                        </form>
                    </th:block>

                    <th:block sec:authorize="!isAuthenticated()">
                        <a href="/login" id="loginbotao"><button type="submit" style="width: 150px; height:37px;">Fazer login</button></a>
                    </th:block>
                </th>
            </tr>
            </table>
        </div>
    </header>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <div class="paganunciar">
        <div class="anuncio">
            <h1>Crie o seu anuncio</h1>
            <form method="post" enctype="multipart/form-data" th:action="@{/AnunciarLivro}" th:object="${livro}">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <input type="text" th:field="*{nmLivro}" style="width: 45%; height: 33px;" id="titulo" name="nmLivro" placeholder="Titulo do livro"><br>
                <div th:if="${#fields.hasErrors('nmLivro')}" th:errors="*{nmLivro}"></div>
                <input type="text" th:field="*{anoPublicacao}" style="width: 45%; height: 33px;" id="ano" name="anoPublicacao" placeholder="Ano de publicação"><br>
                <div th:if="${#fields.hasErrors('anoPublicacao')}" th:errors="*{anoPublicacao}"></div>
                <input type="text" style="width: 45%; height: 200px;" placeholder="Descreva o livro, estado de conservação e outros detalhes que queira incluir"><br><br>
                <p>Selecione o tipo de anúncio:</p><br>
                <select name="tipoNegociacao" class="categoriaNegociacao">
                    <option value="">-- Selecione --</option>
                    <option value="TROCA">Troca</option>
                    <option value="VENDA">Venda</option>
                    <option value="AMBOS">Ambos</option>
                </select>
                <div th:if="${tipoErro != null}" th:text="${tipoErro}"></div>
                <p>Carregue a capa do seu livro aqui:</p>
                <input type="file" id="capaLivro" name="capaLivro" accept="image/*" style="width: 470px; height: 140px; border-style: dotted; padding-top: 10px;"><br>
                <div th:if="${capaErro != null}" th:text="${capaErro}"></div>
                <button type="submit">Anunciar</button>
            </form>
        </div>
    </div>

    <footer>
        <div class="rodapenovo">
            <a href="/"><img src="/img/Design sem nome.svg"></a>
            <a href="/sobreNos"><p>Conheça nosso incrível projeto <br>de incentivo a reutilização</p></a>
            <a href="/ajuda"><p>Central de ajuda</p></a>
            <small>© 2025 Sistema Trocabook<br>Todos os direitos reservados</small>
        </div>
    </footer>
</div>
</body>
<script src="/js/fetch.js"></script>
</html>