<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Minhas Conversas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Suas conversas</h1>


<div th:if="${mensagemVazia != null}">
    <p th:text="${mensagemVazia}"></p>
</div>


<div th:if="${mensagens != null}">
    <div th:each="mensagem : ${mensagens}" class="conversa-card">
        <p><strong>Mensagem:</strong> <span th:text="${mensagem.conteudo}"></span></p>
        <p><strong>Remetente:</strong> <span th:text="${mensagem.cdUsuarioRemetente}"></span></p>
        <p><strong>Destinatário:</strong> <span th:text="${mensagem.cdUsuarioDestinatario}"></span></p>

        <a th:href="@{'/chat/conversar?usuarioLivro=' + ${mensagem.cdUsuarioLivro} +
              '&remetente=' + ${mensagem.cdUsuarioRemetente == usuarioLogado.cdUsuario ? mensagem.cdUsuarioRemetente : usuarioLogado.cdUsuario} +
              '&destinatario=' + ${mensagem.cdUsuarioRemetente == usuarioLogado.cdUsuario ? mensagem.cdUsuarioDestinatario : mensagem.cdUsuarioRemetente}}">
            <button type="button">Abrir conversa</button>
        </a>

    </div>
</div>
</body>
</html>
