<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Todos os anúncios | Trocabook</title>
</head>
<body>
<div class="container">
    <header>
        <div class="wrapper">
            <table class="cabecalho">
                <tr>
                    <th id="cabecalhoelementos">
                        <a href="/"><img src="/img/Design sem nome (7).svg"></a>
                        <div class="autocomplete-wrapper">
                            <input type="text" style="width: 100%; height: 35px;" id="pesquisa" placeholder="Pesquisar">
                            <div id="resultadosPesquisa" class="sugestoes-autocomplete"></div>
                        </div>

                        <select id="inputCategoria" class="form-control" style="width: 200px; height:37px; margin-left: 15px;">
                            <option selected>Categoria...</option>
                            <option>Ação</option>
                            <option>Romance</option>
                            <option>Literatura</option>
                            <option>Lógica de Programação</option>
                            <option>Direito</option>
                            <option>Suspense</option>
                            <option>Ficção Científica</option>
                        </select>
                        <th:block sec:authorize="isAuthenticated()">
                            <a class="anunciar-livro4" href="/AnunciarLivro">Anunciar Livro</a>
                            <a class="meus-livros4" href="/MeusLivros">Meus Livros</a>
                            <form th:action="@{/logout}" method="post" style="display: inline;">
                                <button type="submit" id="deslogar">Sair</button>
                            </form>
                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            <a href="/login" id="loginbotao"><button type="submit" style="width: 150px; height:37px;">Fazer login</button></a>
                            <a class="cadbutton" href="/cadastro" id="cadastrobotao">Cadastre-se</a>
                        </th:block>
                    </th>
                </tr>
            </table>
        </div>
    </header>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <h1 style="text-align: center; margin-top: 30px; margin-bottom: 40px;">Livros Disponíveis na Plataforma</h1>

    <div class="container-livros">
        <aside class="filtro-lateral">
            <h3><i class="fas fa-filter"></i> Filtrar por</h3>
            <form th:action="@{/livros}" method="get">
                <select name="livroTipo" class="categoriaNegociacao" onchange="this.form.submit()">
                    <option value="">-- Todos --</option>
                    <option value="TROCA" th:selected="${filtroLivros == 'TROCA'}">Troca</option>
                    <option value="VENDA" th:selected="${filtroLivros == 'VENDA'}">Venda</option>
                    <option value="AMBOS" th:selected="${filtroLivros == 'AMBOS'}">Ambos</option>
                </select>
            </form>
        </aside>

        <section class="livros-grid">
            <div th:each="vetorUsuarioLivro : ${listaUsuariosLivros}" class="livro-card">
                <img th:src="${vetorUsuarioLivro[0]}" class="capaLivros">
                <p th:text="${vetorUsuarioLivro[1]}"></p>
                <p></p>
                <div class="info-usuario">
                    <a th:href="@{'/destaque/' + ${vetorUsuarioLivro[5]}}">
                    <img th:src="${vetorUsuarioLivro[2]}" class="PerfilIcon">
                    <p th:text="${vetorUsuarioLivro[3]}"></p>
                    </a>
                </div>
                <a th:href="@{'/chat/conversar?usuarioLivro=' + ${vetorUsuarioLivro[4]} + '&remetente=' + ${#authentication.principal.usuario.cdUsuario}}">
                    <button type="button">Negociar</button>
                </a>

            </div>
        </section>
    </div>

    <footer>
        <div class="rodapenovo">
            <a href="/"><img src="/img/Design sem nome.svg"></a>
            <a href="/sobreNos"><p>Conheça nosso incrível projeto <br>de incentivo a reutilização</p></a>
            <a href="/ajuda"><p>Central de ajuda</p></a>
            <small>© 2025 Sistema Trocabook<br>Todos os direitos reservados</small>
        </div>
    </footer>
</div>
</body>
<script src="/js/fetch.js"></script>
</html>
