<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Meus Livros | Trocabook</title>
</head>
<body>
<div class="container">
    <header>
        <div class="wrapper">
            <table class="cabecalho">
                <tr>
                    <th id="cabecalhoelementos">
                        <a href="/"><img src="img/Design sem nome (7).svg"></a>
                        <div class="autocomplete-wrapper">
                            <input type="text" style="width: 100%; height: 35px;" id="pesquisa" placeholder="Pesquisar">
                            <div id="resultadosPesquisa" class="sugestoes-autocomplete"></div>
                        </div>

                        <select id="inputCategoria" class="form-control" style="width: 200px; height:37px; margin-left: 15px;">
                            <option selected>Categoria...</option>
                            <option>Ação</option>
                            <option>Romance</option>
                            <option>Literatura</option>
                            <option>Lógica de Programação</option>
                            <option>Direito</option>
                            <option>Suspense</option>
                            <option>Ficção Científica</option>
                        </select>
                        <th:block sec:authorize="isAuthenticated()">
                            <a class="anunciar-livro4" href="/AnunciarLivro">Anunciar Livro</a>
                            <a class="meus-livros4" href="/MeusLivros">Meus Livros</a>
                            <form th:action="@{/logout}" method="post" style="display: inline;">
                                <button type="submit" id="deslogar">Sair</button>
                            </form>
                        </th:block>
                    </th>
                </tr>
            </table>
        </div>
    </header>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <h1 id="tituloMeusLivros">Meus Livros</h1>

    <aside class="filtro-lateral">
        <h3><i class="fas fa-filter"></i> Filtrar por</h3>
        <form th:action="@{/MeusLivros}" method="get">
            <select name="filtroAnuncio" class="categoriaNegociacao" onchange="this.form.submit()">
                <option th:value="todos">-- Todos --</option>
                <option th:value="TROCA" th:selected="${filtroSelecionadoAnuncio == 'TROCA'}">Troca</option>
                <option th:value="VENDA" th:selected="${filtroSelecionadoAnuncio == 'VENDA'}">Venda</option>
                <option th:value="AMBOS" th:selected="${filtroSelecionadoAnuncio == 'AMBOS'}">Ambos</option>
            </select>
            <input type="hidden" name="filtroT/V" th:value="*{filtroSelecionadoTroVen}">
        </form>
    </aside>


    <p class="titulo-secao">Livros anunciados:</p>
    <div class="secao-livros">
        <div th:if="${livrosAnuncio.size() <= 0 || livrosAnuncio == null}">
            <p class="nenhumLivro">Nenhum Livro Anunciado na Plataforma</p>
        </div>
        <div class="livros-grid" th:if="${livrosAnuncio != null}">
            <div th:each="livroAnuncio : ${livrosAnuncio}">
                <img th:src="${livroAnuncio.capa}" class="capa-livro" alt="Capa do livro"/>
            </div>
        </div>
    </div>

    <aside class="filtro-lateral">
        <h3><i class="fas fa-filter"></i> Filtrar por</h3>
        <form th:action="@{/MeusLivros}" method="get">
            <select name="filtroT/V" class="categoriaNegociacao" onchange="this.form.submit()">
                <option th:value="todos">-- Todos --</option>
                <option th:value="TROCA" th:selected="${filtroSelecionadoTroVen == 'TROCA'}">Troca</option>
                <option th:value="VENDA" th:selected="${filtroSelecionadoTroVen == 'VENDA'}">Venda</option>
                <option th:value="AMBOS" th:selected="${filtroSelecionadoTroVen == 'AMBOS'}">Ambos</option>
            </select>
            <input type="hidden" name="filtroAnuncio" th:value="*{filtroSelecionadoAnuncio}">
        </form>
    </aside>
    <p class="titulo-secao">Livros que você trocou/vendeu:</p>
    <div class="secao-livros">
        <div th:if="${livrosNegociacao.size() <= 0 || livrosNegociacao == null}">
            <p class="nenhumLivro">Nenhum Livro Negociado na Plataforma</p>
        </div>
        <div class="livros-grid" th:if="${livrosNegociacao != null}">
            <div th:each="livroNegociacao : ${livrosNegociacao}">
                <img th:src="${livroNegociacao.capa}" class="capa-livro" alt="Capa do livro"/>
            </div>
        </div>
    </div>

    <footer>
        <div class="rodapenovo">
            <a href="/"><img src="/img/Design sem nome.svg"></a>
            <a href="/sobreNos"><p>Conheça nosso incrível projeto <br>de incentivo à reutilização</p></a>
            <a href="/ajuda"><p>Central de ajuda</p></a>
            <small>© 2025 Sistema Trocabook<br>Todos os direitos reservados</small>
        </div>
    </footer>
</div>
</body>
<script src="/js/fetch.js"></script>
</html>
