<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Criar novo anuncio | Trocabook</title>
</head>
<body>
<div class="container">
    <header>
        <div class="wrapper">
            <table class="cabecalho"><tr>
                <th id="cabecalhoelementos">
                    <a href="/"><img src="img/Design sem nome (7).svg"></a>
                    <div class="autocomplete-wrapper">
                        <input type="text" style="width: 100%; height: 35px;" id="pesquisa" placeholder="Pesquisar">
                        <div id="resultadosPesquisa" class="sugestoes-autocomplete"></div>
                    </div>

                    <select id="inputCategoria" class="form-control" style="width: 200px; height:37px; margin-left: 15px;">
                        <option selected>Categoria...</option>
                        <option>Ação</option>
                        <option>Romance</option>
                        <option>Literatura</option>
                        <option>Lógica de Programação</option>
                        <option>Direito</option>
                        <option>Suspense</option>
                        <option>Ficção Científica</option>
                    </select>

                    <a class="anunciar-livro4" href="/AnunciarLivro">Anunciar Livro</a>
                    <a class="meus-livros4" href="/MeusLivros">Meus Livros</a>
                    <form th:action="@{/deslogar}" method="post">
                        <button type="submit" id="deslogar">Sair</button>
                    </form>
                </th>
            </tr>
            </table>
    </header>







    <footer>
        <div class="rodapenovo">
            <a href="/"><img src="/img/Design sem nome.svg"></a>
            <a href="/sobreNos"><p>Conheça nosso incrível projeto <br>de incentivo a reutilização</p></a>
            <a href="/ajuda"><p>Central de ajuda</p></a>
            <small>© 2025 Sistema Trocabook<br>Todos os direitos reservados</small>
        </div>
    </footer>
</div>
</body>
<script src="/js/fetch.js"></script>
</html>