<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home | Área do Administrador</title>
    <link rel="stylesheet" type="text/css" href="/css/indexAdmin.css">
</head>
<body>
    <h1>Bem-vindo a Área do Administrador</h1>
<div class="home-cards">
    <div class="home-card">
        <a href="/dashboard-pagina">
            <h3>Dashboard</h3>
            <p>Acesse a visão geral do sistema</p>
        </a>
    </div>

    <div class="home-card">
        <a href="/cadastroAdmin">
            <h3>Cadastrar Admin</h3>
            <p>Novo por aqui? Realize seu cadastro</p>
        </a>
    </div>

    <div class="home-card">
        <a href="/loginAdmin">
            <h3>Login Admin</h3>
            <p>Entre no painel de administração</p>
        </a>
    </div>

    <div class="home-card">
        <a href="/listaUsuarios-pagina">
            <h3>Listar Usuários</h3>
            <p>Visualize todos os usuários cadastrados na plataforma</p>
        </a>
    </div>
</div>

</body>
</html>